@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Space Grotesk', sans-serif;
  --font-body: 'Noto Sans', sans-serif;
}

body {
  @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white overflow-x-hidden min-h-screen flex flex-col;
}

.font-display {
  font-family: var(--font-display);
}

.font-body {
  font-family: var(--font-body);
}

